@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #95783a; /* Updated background color for the body */
}

.container {
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1); /* Adjust the opacity as needed */

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.form {
    position: absolute;
    background: #fff;
    border-radius: 8px; /* Rounded corners */
    max-width: 500px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.form.signup {
    opacity: 0;
    pointer-events: none;
}

.forms.show-signup .form.signup {
    opacity: 1;
    pointer-events: auto;
}

.forms.show-signup .form.login {
    opacity: 0;
    pointer-events: none;
}

header {
    font-size: 32px;
    font-weight: 600;
    color: #333; /* Dark gray text */
    text-align: center;
}

form {
    margin-top: 40px;
}

.form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
    border-radius: 8px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
}

.field input {
    border: 1px solid #ccc; /* Light gray border */
    padding: 0 15px;
}

.eye-icon {
    position: absolute;
    font-size: 18px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #888; /* Slightly darker gray */
    cursor: pointer;
    padding: 5px;
}

.field button {
    background-color: #fca311; /* Updated button color */
    color: #fff; /* Text color for the button */
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
}

.field button:hover {
    background-color: #fb923c; /* Darker button color on hover */
}

.form-link {
    text-align: center;
    margin-top: 20px; /* Smaller top margin */
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #555; /* Medium gray text */
}

.form a {
    text-decoration: none;
    color: #007bff;
}

.form-content a:hover {
    text-decoration: underline;
}

.line {
    height: 1px;
    width: 100%;
    position: relative;
    background-color: #ccc; /* Light gray line */
    margin: 28px 0; /* Smaller margin */
}

.line::before {
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    color: #555; /* Medium gray text */
    padding: 0 15px;
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.google {
    color: #016dcb;
    background-color: #fff;
    border: 1px solid #cacaca;
}

img.google-img {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

img.google-img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

a.google span {
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}

@media screen and (max-width: 400px) {
    .form {
        padding: 15px 10px;
    }
}
